{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Vielen Dank für Ihre Teilnahme!
{% endblock %}

{% block content %}

   <p>Sie können so lange wie Sie möchten fortfahren.</p>

{% if subsession.round_number == 10 %}

  <a  <p> Sie haben jetzt <b>10</b> Tweets bewertet!</p>

{% elif subsession.round_number == 20 %}

  <a  <p> Halbzeit! Sie haben jetzt <b>20</b> Tweets bewertet.</p>

{% elif subsession.round_number == 30 %}

  <a  <p> Sie haben jetzt <b>30</b> Tweets bewertet! Jetzt folgen die letzten 10 Tweets.

{% endif %}

    {% next_button %}

{% endblock %}
