{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Im Folgenden möchten wir Sie bitten, einige Tweets zu bewerten.
{% endblock %}

{% block content %}

  <p> Das Ziel des CoViD-19 Impact Lab ist es, mit Hilfe von Daten,
    hilfreiche Erkenntnisse über die momentane Krise zu erlangen und diese zu kommunizieren. Durch Ihre Bewertung der Tweets leisten Sie einen wertvollen Beitrag zu diesem Vorhaben. </p>

<center>
<iframe src="https://giphy.com/embed/l4Xicqrij80QCgozCW" width="100%" height="340" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</center>

<p> In der Bewertung der Tweets geht es <b>nicht</b> um Ihre persönliche Meinung zum Tweet oder dessen Verfasser*in,
  sondern welches Gefühl dieser Tweet Ihrer Meinung nach ausdrückt. </p>

    {% next_button %}

<font size="1"> Das CoViD-19 Impact Lab nimmt keinen Einfluss auf die Inhalte der Tweets und unterstützt diese in keiner Form.</font>

{% endblock %}
