{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Im Folgenden möchten wir Sie bitten, einige Tweets zu bewerten.
{% endblock %}

{% block content %}

  <p> Das Ziel des CoViD-19 Impact Lab ist es, mit Hilfe von Daten,
    hilfreiche Erkenntnisse über die momentane Krise zu erlangen und diese zu kommunizieren. Durch Ihre Bewertung der Tweets leisten Sie einen wertvollen Beitrag zu diesem Vorhaben. </p>

  <p> Für jeden Tweet sehen Sie aufeinanderfolgend vier unterschiedliche Bewertungsskalen, bevor Ihnen der nächste Tweet angezeigt wird. Die Skalen bleiben für alle Tweets gleich,
    doch die Reihenfolge der Skalen kann sich ändern. Es werden Tweets in Englisch und Deutsch angezeigt. Falls Sie den Tweet nicht verstehen, bitten wir
    Sie <b>Nicht zutreffend</b> anzugeben. Auf der folgenden Seite wird der Ablauf von einem GIF illustriert. </p>

  <p> In der Bewertung der Tweets geht es <b>nicht</b> um Ihre persönliche Meinung zum Tweet oder dessen Verfasser*in,
    sondern welches Gefühl dieser Tweet Ihrer Meinung nach ausdrückt. </p>

  <p> Das CoViD-19 Impact Lab nimmt keinen Einfluss auf die Inhalte der Tweets und unterstützt diese in keiner Form.</p>

    {% next_button %}

{% endblock %}
