{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Im Folgenden möchten wir Sie bitten, einige Tweets zu bewerten.
{% endblock %}

{% block content %}

  <p> In dieser Umfrage wird Ihnen zu einem Tweet aufeinanderfolgend vier Skalen angezeigt.
    Nach jeder Runde bekommen Sie einen anderen Tweet. Die Skalen bleiben gleich, doch die Reihenfolge kann sich ändern. </p>

  <p> In der Bewertung der Tweets geht es nicht um Ihre persönliche Meinung zum Tweet oder dessen Verfasser, sondern welches Gefühl dieser Tweet ausdrückt. </p> 

    {% next_button %}

{% endblock %}
