{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Tweet Labeling Game
{% endblock %}

{% block content %}

<p> Wir möchten Sie bitten zehn Tweets auf zwei unterschiedlichen Bewertungsskalen zu bewerten. Diese werden Ihnen aufeinanderfolgend gezeigt.</p>

<p>In der Bewertung der Tweets geht es <b>nicht</b> um Ihre persönliche Meinung zum Tweet oder dessen Verfasser*in,
  sondern welches Gefühl dieser Tweet Ihrer Meinung nach ausdrückt. </p>

<center>
<iframe src="https://giphy.com/embed/l4Xicqrij80QCgozCW" width="100%" height="340" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</center>

    {% next_button %}

<font size="1"> Das CoViD-19 Impact Lab nimmt keinen Einfluss auf die Inhalte der Tweets und unterstützt diese in keiner Form.</font>

{% endblock %}
